* {
	font-family: "Poppins" , sans-serif;
	margin: 0;
	padding: 0;
}

.tela {
	align-items: center;
	background-image: linear-gradient(-135deg, #c850c0, #4158d0);
	display: flex;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
}

.painelLogin {
	background-color: #FFF;
	border-radius: 10px;
	display: flex;
	height: 680px;
	width: 960px;
}

.imagemEsquerdaPai {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 50%;
}

.imagem:hover {
	transform:scale(1.2);
	transition: all;
	transition-duration: 0.4s;
}

.logar {
	align-items: center !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	height: 100% !important;
	width: 50%;
}

.loginMembroTitulo {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
}


.loginMembro{
	align-items: center;
	color: #333;
	cursor: default;
	font-family: 'Roboto';
    font-size: 26px;
	font-weight: 900;
	text-align: center;
}

.estilizarIcone {
	cursor: text;
}

.inputsStyle {
	background-color: #e6e6e6;
	border: none;
	border-radius: 25px;
	color: #666;
	font-size: 18px;
	font-weight: 600;
	height: 50px;
	margin-bottom: 0px !important;
	outline: none;
	padding: 0 30px 0 68px;
	width: 100%;
}

.iconeLogin {
	color: #666;
	font-size: 15px;
	left: 30px;
	position: relative;
	top: 34px;
}
.tamanho {
	width: 70%;
}

.buttonLogin {
	align-items: center;
	background: #57b846;
	border: none;
	border-radius: 25px;
	color: #FFF;
	cursor: pointer;
	display: flex;
	font-family: 'Roboto';
	font-size: 15.5px;
	font-weight: bold;
    flex-wrap: wrap;
	height: 50px;
	justify-content: center;
	letter-spacing: 1px;
	margin-top: 35px;
	text-transform: uppercase;
	width: 100%;
}

.buttonLogin:hover {
	background: #429633;
	transition: all;
	transition-duration: 0.5s;
}

.esqueceuSenha {
	display: flex;
	font-size: 14px;
	justify-content: center;
	margin-top: 10px;
}

.textEsqueceu {
	color: #999;
}

.hrefEsqueceu {
	text-decoration: none;
}

.hrefEsqueceu:hover {
	color: #57b846;
	transition: all;
	transition-duration: 0.5s;
}

.criarConta {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	top: 155px;
}

.aCriarConta {
	font-size: 15px;
	text-decoration: none;
}

.aCriarConta:hover {
	color: #57b846;
	transition: all;
	transition-duration: 0.5s;
}

/*************** RESPONSIVO ***************/
/******************************************/

@media (max-width: 768px) {
	.tela {
		align-items: center;
		background-image: linear-gradient(-135deg, #c850c0, #4158d0);
		display: flex;
		justify-content: center;
		min-height: 100vh;
		width: 100%;
	}

	.imagemEsquerdaPai {
		display: none;
	}

	.painelLogin {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90%;
		height: 95vh;
		flex-wrap: nowrap;
	}

	.divImagem{
		display: none;
	}

	.logar {
		width: 100%;
	}

	.criarConta {
		align-items: center;
		display: flex;
		justify-content: center;
		position: relative;
		top: 120px;
	}

	.aCriarConta {
		font-size: 20px;
		text-align: center;
	}
}